/*
    Developer: Cameron Liddell A.K.A MintyMonster 
    Github: https://github.com/MintyMonster
    Instagram: https://www.instagram.com/cameronliddelldev/
    Contact: cameronliddelldev@gmail.com

*/
/* Variables */
/* Responsiveness */
/* Main styles */
.main {
  background-color: rgba(0, 0, 0, 0.93);
  height: 100%;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.page-container .content-wrap {
  padding-bottom: 2.5rem;
}

/* Footer container */
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.footer-container .copyright-container {
  font-size: max(1vw, 10px);
  margin-top: 0.3vw;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-container .socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-container .socials-footer .social-icon {
  transition: 600ms;
  font-weight: bold;
  font-size: max(1vw, 15px);
  color: rgb(255, 255, 255);
  margin: 0.1vw 0.1vw 0.1vw 0.1vw;
  padding: 0.1vw 0.1vw 0.1vw 0.6vw;
  opacity: 0.6;
}
.footer-container .socials-footer .social-icon:hover {
  opacity: 1;
}

/* Navbar */
.place-content-center {
  display: grid;
  place-content: center;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.logo-wrapper .logo {
  width: 16vw;
  height: auto;
  margin-left: 1vw;
  overflow: hidden;
  min-width: 135px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navbar-container {
  margin-top: 1vh;
  width: 100vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2vw;
  padding-right: 2vw;
}

.navbar .nav-link {
  font-weight: bold;
  font-size: max(1vw, 8px);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  margin: 0.1vw 0.1vw 0.1vw 0.1vw;
  opacity: 0.75;
  width: 8vw;
  max-width: 250px;
  min-width: 60px;
  text-align: center;
}
.navbar .nav-link:hover {
  opacity: 1;
  transition: 300ms;
}
.navbar .nav-link::before {
  transition: 300ms;
  height: 0.3vw;
  min-height: 1.5px;
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.navbar .nav-link-ltr::before {
  width: 8vw;
  min-width: 40px;
  bottom: 0.1vw;
  opacity: 0;
}
.navbar .nav-link-ltr:hover::before {
  bottom: 0.4vw;
  opacity: 1;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.socials .social-icon {
  transition: 600ms;
  font-weight: bold;
  font-size: max(1.5vw, 14px);
  color: rgb(255, 255, 255);
  margin: 0.4vh 0.4vh 0.4vh 0.4vh;
  padding: 0.1vh 0.1vh 0.1vh 1.2vh;
  opacity: 0.6;
}
.socials .social-icon:hover {
  opacity: 1;
  transform: scale(1.05);
}

.title-contents .back-icon {
  font-size: max(1.5vw, 10px);
  margin-top: 1vw;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-right: 1.6vw;
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 0.75;
  transition: 300ms;
}
@media only screen and (min-width: 800px) {
  .title-contents .back-icon {
    float: right;
  }
}
@media only screen and (max-width: 700px) {
  .title-contents .back-icon {
    margin-top: 2vw;
    text-align: center;
  }
}
.title-contents .back-icon:hover {
  opacity: 1;
}
.title-contents .title-container {
  font-size: 2.5vw;
  font-weight: bold;
  font-family: "Red Hat Mono", monospace;
  height: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2vw;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
@media only screen and (max-width: 700px) {
  .title-contents .title-container {
    margin-top: 1vw;
  }
}

.album-wrapper {
  margin-top: 2vw;
  display: flex;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.album-wrapper .album-cover-wrapper {
  width: 15vw;
  height: 15vw;
  cursor: pointer;
  transition: 300ms;
  border-radius: 1vw;
  display: inline-block;
  margin-left: 1vw;
}
@media only screen and (max-width: 600px) {
  .album-wrapper .album-cover-wrapper {
    width: 20vw;
    height: 20vw;
  }
}
.album-wrapper .album-cover-wrapper:hover {
  transform: scale(1.05);
}
.album-wrapper .album-cover-wrapper .album-cover {
  position: relative;
  width: 100%;
  height: 100%;
}
.album-wrapper .album-cover-wrapper .album-cover .album-overlay {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 17%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 1vw 1vw;
  text-align: center;
}
.album-wrapper .album-cover-wrapper .album-cover .album-overlay .album-title {
  font-size: max(1.5vw, 9px);
  font-family: "Red Hat Mono", monospace;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
.album-wrapper .album-cover-wrapper #portraits-cover {
  background-image: url(../Assets/Carousel/Jess_portrait_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 1vw;
}
.album-wrapper .album-cover-wrapper #fashion-cover {
  background-image: url(../Assets/Gallery/Fashion_KUSTOMS_Leamington_2021_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 1vw;
}
.album-wrapper .album-cover-wrapper #live-music-cover {
  background-image: url(../Assets/Gallery/Live-Music_THE-CLAUSE_Birmingham_2021_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 1vw;
}
.album-wrapper .album-cover-wrapper #film-cover {
  background-image: url(../Assets/Gallery/Option_Film_Warwick_2019_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 1vw;
}
.album-wrapper .album-cover-wrapper #editorial-cover {
  background-image: url(../Assets/Gallery/Option_Editorial_Birmingham_2019.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 1vw;
}

.nothing-to-see {
  font-size: 2vw;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 3vw;
  color: rgb(255, 255, 255);
  opacity: 0.4;
}/*# sourceMappingURL=gallery_folders_page.css.map */