/*
    Developer: Cameron Liddell A.K.A MintyMonster 
    Github: https://github.com/MintyMonster
    Instagram: https://www.instagram.com/cameronliddelldev/
    Contact: cameronliddelldev@gmail.com

*/

/* Variables */
$prim-black: rgba(0, 0, 0, 1);
$prim-white: rgba(255, 255, 255, 1);
$prim-grey: rgba(74, 74, 74, 1);

$font-primary: 'Roboto',
sans-serif;
$font-secondary: 'Libre Franklin',
sans-serif;
$font-tertiary: 'Red Hat Mono',
monospace;
$font-quaternary: 'Roboto Slab',
serif;

/* Responsiveness */


/* Main styles */

.main {
    background-color: rgba(0, 0, 0, 0.93);
    height: 100%;
}

.page-container {
    position: relative;
    min-height: 100vh;

    .content-wrap {
        padding-bottom: 2.5rem;
    }
}

/* Footer container */

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    .copyright-container {
        font-size: max(1vw, 10px);
        margin-top: 0.3vw;
        color: rgba(255, 255, 255, 0.6);
        opacity: 0.6;
        font-family: $font-primary;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .socials-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .social-icon {
            transition: 600ms;
            font-weight: bold;
            font-size: max(1vw, 15px);
            color: $prim-white;
            margin: 0.1vw 0.1vw 0.1vw 0.1vw;
            padding: 0.1vw 0.1vw 0.1vw 0.6vw;
            opacity: 0.60;
        }

        .social-icon:hover {
            opacity: 1;
        }
    }
}


/* Navbar */
// .logo-wrapper {
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     align-items: center;

//     .logo {
//         width: 16vw;
//         height: auto;
//         margin-left: 1vw;
//         overflow: hidden;
//         min-width: 135px;

//         display: flex;
//         justify-content: center;
//         text-align: center;
//         align-items: center;
//     }
// }

// .navbar-container {
//     margin-top: 2vw;
//     position: relative;
//     left: 0;
//     right: 0;
//     margin-left: auto;
//     margin-right: auto;
// }

// .navbar {

//     .nav-link {
//         font-weight: bold;
//         font-size: max(1vw, 8px);
//         text-transform: uppercase;
//         text-decoration: none;
//         font-family: $font-primary;
//         color: $prim-white;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 1vw;
//         margin: 0.1vw 0.1vw 0.1vw 0.1vw;
//         opacity: 0.75;
//         width: 8vw;
//         max-width: 170px;
//         min-width: 60px;
//         text-align: center;
//     }

//     .nav-link:hover {
//         opacity: 1;
//         transition: 300ms;
//     }

//     .nav-link::before {
//         transition: 300ms;
//         // 0.3vw
//         height: 0.3vw;
//         min-height: 1.5px;
//         content: "";
//         position: absolute;
//         background-color: $prim-white;
//     }

//     .nav-link-ltr::before {
//         width: 8vw;
//         min-width: 40px;
//         bottom: 0.1vw;
//         opacity: 0;
//     }

//     .nav-link-ltr:hover::before {
//         bottom: 0.4vw;
//         opacity: 1;
//     }
// }

// .socials {

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;

//     .social-icon {
//         transition: 600ms;
//         font-weight: bold;
//         font-size: max(2vw, 14px);
//         color: $prim-white;
//         margin: 0.2vw 0.2vw 0.2vw 0.2vw;
//         padding: 0.1vw 0.1vw 0.1vw 1.2vw;
//         opacity: 0.60;
//     }

//     .social-icon:hover {
//         opacity: 1;
//         transform: scale(1.05);
//     }
// }

.place-content-center {
    display: grid;
    place-content: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    .logo {
        width: 16vw;
        height: auto;
        margin-left: 1vw;
        overflow: hidden;
        min-width: 135px;
        max-width: 350px;

        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.navbar-container {
    margin-top: 1vh;
    width: 100vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar {

    .nav-link {
        font-weight: bold;
        font-size: max(1vw, 8px);
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-primary;
        color: $prim-white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh;
        margin: 0.1vw 0.1vw 0.1vw 0.1vw;
        opacity: 0.75;
        width: 8vw;
        max-width: 250px;
        min-width: 60px;
        text-align: center;
    }

    .nav-link:hover {
        opacity: 1;
        transition: 300ms;
    }

    .nav-link::before {
        transition: 300ms;
        // 0.3vw
        height: 0.3vw;
        min-height: 1.5px;
        content: "";
        position: absolute;
        background-color: $prim-white;
    }

    .nav-link-ltr::before {
        width: 8vw;
        min-width: 40px;
        bottom: 0.1vw;
        opacity: 0;
    }

    .nav-link-ltr:hover::before {
        bottom: 0.4vw;
        opacity: 1;
    }
}

.socials {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .social-icon {
        transition: 600ms;
        font-weight: bold;
        font-size: max(1.5vw, 14px);
        color: $prim-white;
        margin: 0.4vh 0.4vh 0.4vh 0.4vh;
        padding: 0.1vh 0.1vh 0.1vh 1.2vh;
        opacity: 0.60;
    }

    .social-icon:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}

.title-contents {

    .back-icon {
        font-size: max(1.5vw, 10px);
        margin-top: 1vw;
        font-weight: bold;
        font-family: $font-primary;
        margin-right: 1.6vw;
        text-decoration: none;
        color: $prim-white;
        opacity: 0.75;
        transition: 300ms;

        @media only screen and (min-width: 800px) {
            float: right;
        }

        @media only screen and (max-width: 700px) {
            margin-top: 2vw;
            text-align: center;

        }

        &:hover {
            opacity: 1;
        }
    }

    .title-container {
        font-size: 2.5vw;
        font-weight: bold;
        font-family: $font-tertiary;
        height: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 2vw;
        color: $prim-white;
        text-decoration: underline;

        @media only screen and (max-width: 700px) {
            margin-top: 1vw;
        }
    }
}

.album-wrapper {

    margin-top: 2vw;
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    .album-cover-wrapper {
        width: 15vw;
        height: 15vw;
        cursor: pointer;
        transition: 300ms;
        border-radius: 1vw;
        display: inline-block;
        margin-left: 1vw;

        @media only screen and (max-width: 600px) {
            width: 20vw;
            height: 20vw;
        }

        &:hover {
            transform: scale(1.05);
        }

        .album-cover {
            position: relative;
            width: 100%;
            height: 100%;

            .album-overlay {
                position: absolute;
                opacity: 1;
                width: 100%;
                height: 17%;
                bottom: 0;
                background: rgba(0,0,0,0.8);
                border-radius: 0 0 1vw 1vw;
                text-align: center;

                .album-title {
                    font-size: max(1.5vw, 9px);
                    font-family: $font-tertiary;
                    color: $prim-white;
                    font-weight: bolder;
                }

                // .album-image-count {
                //     font-size: max(0.8vw, 6px);
                //     margin-left: 0.3vw;
                //     font-family: $font-tertiary;
                //     margin-top: -1.3vw;
                //     color: $prim-white;
                // }
            }
        }

        #portraits-cover {
            background-image: url(../Assets/Carousel/Jess_portrait_1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            border-radius: 1vw;
        }

        #fashion-cover {
            background-image: url(../Assets/Gallery/Fashion_KUSTOMS_Leamington_2021_1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            border-radius: 1vw;
        }

        #live-music-cover {
            background-image: url(../Assets/Gallery/Live-Music_THE-CLAUSE_Birmingham_2021_3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            border-radius: 1vw;
        }

        #film-cover {
            background-image: url(../Assets/Gallery/Option_Film_Warwick_2019_1.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            border-radius: 1vw;
        }

        // #video-cover {

        // }

        #editorial-cover {
            background-image: url(../Assets/Gallery/Option_Editorial_Birmingham_2019.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            border-radius: 1vw;
        }
    }
}

.nothing-to-see {
    font-size: 2vw;
    font-weight: bold;
    font-family: $font-primary;
    text-align: center;
    margin-top: 3vw;
    color: $prim-white;
    opacity: 0.40;
}