/*
    Developer: Cameron Liddell A.K.A MintyMonster 
    Github: https://github.com/MintyMonster
    Instagram: https://www.instagram.com/cameronliddelldev/
    Contact: cameronliddelldev@gmail.com

*/
/* Variables */
/* Responsiveness */
/* Main styles */
.main {
  background-color: rgba(0, 0, 0, 0.93);
  height: 100%;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.page-container .content-wrap {
  padding-bottom: 2.5rem;
}

/* Footer container */
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.footer-container .copyright-container {
  font-size: max(1vw, 10px);
  margin-top: 0.3vw;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-container .socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-container .socials-footer .social-icon {
  transition: 600ms;
  font-weight: bold;
  font-size: max(1vw, 15px);
  color: rgb(255, 255, 255);
  margin: 0.1vw 0.1vw 0.1vw 0.1vw;
  padding: 0.1vw 0.1vw 0.1vw 0.6vw;
  opacity: 0.6;
}
.footer-container .socials-footer .social-icon:hover {
  opacity: 1;
}

/* Navbar */
.place-content-center {
  display: grid;
  place-content: center;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.logo-wrapper .logo {
  width: 16vw;
  height: auto;
  margin-left: 1vw;
  overflow: hidden;
  min-width: 135px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navbar-container {
  margin-top: 1vh;
  width: 100vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2vw;
  padding-right: 2vw;
}

.navbar .nav-link {
  font-weight: bold;
  font-size: max(1vw, 8px);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  margin: 0.1vw 0.1vw 0.1vw 0.1vw;
  opacity: 0.75;
  width: 8vw;
  max-width: 250px;
  min-width: 60px;
  text-align: center;
}
.navbar .nav-link:hover {
  opacity: 1;
  transition: 300ms;
}
.navbar .nav-link::before {
  transition: 300ms;
  height: 0.3vw;
  min-height: 1.5px;
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.navbar .nav-link-ltr::before {
  width: 8vw;
  min-width: 40px;
  bottom: 0.1vw;
  opacity: 0;
}
.navbar .nav-link-ltr:hover::before {
  bottom: 0.4vw;
  opacity: 1;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.socials .social-icon {
  transition: 600ms;
  font-weight: bold;
  font-size: max(1.5vw, 14px);
  color: rgb(255, 255, 255);
  margin: 0.4vh 0.4vh 0.4vh 0.4vh;
  padding: 0.1vh 0.1vh 0.1vh 1.2vh;
  opacity: 0.6;
}
.socials .social-icon:hover {
  opacity: 1;
  transform: scale(1.05);
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
  margin-top: 2vw;
  margin-left: -12px;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 35vw;
  justify-content: center;
  perspective: 10vw;
}
.carousel__item:hover {
  filter: brightness(85%);
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 23vw;
  height: 35vw;
  border-radius: 12px;
  position: absolute;
  transition: all 0.3s ease-in;
  background-color: black;
  cursor: pointer;
}
.carousel__item .carousel-overlay {
  position: absolute;
  bottom: 0;
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 1.5vw;
  padding: 1vw;
  text-align: left;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
.carousel__item .carousel-overlay .album-name {
  font-size: max(2vw, 10px);
  margin-left: 0.4vw;
  font-family: "Roboto", sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.carousel__item .carousel-overlay .picture-count {
  font-size: max(1.3vw, 5px);
  margin-left: 5px;
  margin-top: -1.5vw;
  font-family: "Red Hat Mono", monospace;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.carousel__item .carousel-overlay .see-all-arrow {
  width: 100%;
  text-align: left;
}
.carousel__item .carousel-overlay .see-all-arrow .see-all-arrow-icon {
  font-size: 2vw;
  font-family: "Red Hat Mono", monospace;
  transition: 550ms;
}
.carousel__item:nth-child(1) {
  background-image: url(../Assets/Gallery/Fashion_KUSTOMS_Leamington_2021_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel__item:nth-child(2) {
  background-image: url(../Assets/Gallery/Live-Music_THE-CLAUSE_Birmingham_2021_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel__item:nth-child(3) {
  background-image: url(../Assets/Carousel/Jess_portrait_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel__item:nth-child(4) {
  background-image: url(../Assets/Gallery/Option_Film_Warwick_2019_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel__item:nth-child(5) {
  background-image: url(../Assets/Gallery/Live-Music_THE-CLAUSE_Birmingham_2021_6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}

.gallery-row {
  margin-top: 3vw;
}
.gallery-row .image-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.gallery-row .image-row .image-column {
  flex: 50%;
  padding: 0 0.1vw;
}
.gallery-row .image-row .image-column .gallery-image {
  width: 100%;
  vertical-align: middle;
  transition: 200ms;
}
.gallery-row .image-row .image-column .image-container {
  transition: 200ms;
  position: relative;
  margin-top: 0.2vw;
  cursor: pointer;
  overflow: hidden;
}
.gallery-row .image-row .image-column .image-information {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  opacity: 0;
  font-size: max(4vw, 20px);
  padding: 0.5vw;
  text-align: left;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}
.gallery-row .image-row .image-column .image-information .band-name {
  font-size: max(2vh, 15px);
  margin-left: 0.1vh;
  font-family: "Roboto", sans-serif;
}
.gallery-row .image-row .image-column .image-information .image-location {
  font-size: max(1vh, 8px);
  margin-left: 0.7vh;
  margin-top: -1.4vh;
  font-family: "Red Hat Mono", monospace;
}
@media screen and (max-width: 375px) {
  .gallery-row .image-row .image-column .image-information .image-location {
    margin-top: -15px;
  }
}
.gallery-row .image-row .image-column .image-information .image-date {
  font-size: max(0.9vh, 7px);
  margin-left: 0.7vh;
  margin-top: -1vh;
  font-family: "Red Hat Mono", monospace;
}
@media screen and (max-width: 375px) {
  .gallery-row .image-row .image-column .image-information .image-date {
    margin-top: -15px;
  }
}
.gallery-row .image-row .image-column .image-container:hover .image-information {
  opacity: 1;
}

.see-more-images-footer-container {
  margin-top: 2vw;
  margin-bottom: 2vw;
  text-align: center;
}
.see-more-images-footer-container .see-more-images-footer {
  font-weight: bolder;
  font-size: max(1.4vw, 10px);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
}
.see-more-images-footer-container .see-more-images-footer:hover {
  text-decoration: underline;
}

.imageModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.imageModal .modal-content {
  display: block;
  width: 70vw;
  max-width: 550px;
  border: 0.4vw solid grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 700px) {
  .imageModal .modal-content {
    width: 70vw;
  }
}
.imageModal #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.imageModal .modal-content,
.imageModal #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.imageModal .modal-close {
  position: absolute;
  top: 1vw;
  right: 5vw;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.imageModal .modal-close:hover,
.imageModal .modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=gallery.css.map */