/* Variables */
$prim-black: rgba(0,0,0,1);
$prim-white: rgba(255,255,255,1);
$prim-grey: rgba(74,74,74,1);
$prim-pink: rgba(249, 217, 244, 0.8);

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Libre Franklin', sans-serif;
$font-tertiary: 'Red Hat Mono', monospace;

/* Responsiveness */ 

/* Navbar */

.place-content-center {
    display: grid;
    place-content: center;
}

.logo {
    width: 5rem;
    height: 5rem;
    margin-left: 10rem;
}

.navbar-container {
    margin-top: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.navbar {    
    .nav-link {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-secondary;
        color: $prim-white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 4px 4px 4px 4px;
        opacity: 0.60;
        width: 6rem;
        text-align: center;
    }

    .nav-link:hover {
        opacity: 1;
        transition: 300ms;
    }

    .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: $prim-white;
    }

    .nav-link-ltr::before {
        width: 5rem;
        bottom: 5px;
        opacity: 0;
    }

    .nav-link-ltr:hover::before {
        bottom: 10px;
        opacity: 1;
    }
}

.socials {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .social-icon {
        transition: 600ms;
        font-weight: bold;
        font-size: 30px;
        color: $prim-white;
        margin: 4px 4px 4px 4px;
        padding: 1px 1px 1px 1px;
        opacity: 0.60;
    }

    .social-icon:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}

/* Banner */

.main {
    font-family: $font-primary;
    background-color: black;

    .head-banner {

        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100vh;
        background: url(../Assets/Content/banner.png) center center/cover no-repeat;
        background-attachment: fixed;
        color: white;

        .banner-content {

            margin: auto;

            .banner-title {

                font-family: $font-secondary;
                font-weight: bolder;
                text-align: center;
                font-size: 80px;
                letter-spacing: 2px;
                margin-top: -4rem;
            }

            .banner-subtitle {

                font-family: $font-tertiary;
                font-size: 1.5rem;
                margin-top: -3rem;
                margin-left: 45px;
                margin-bottom: 50px;
                color: hsl(0, 0%, 95%);
                font-weight: bolder;
            }
        }
    }
}