/* Variables */
$prim-black: rgba(0,0,0,1);
$prim-white: rgba(255,255,255,1);
$prim-grey: rgba(74,74,74,1);
$prim-pink: rgba(249, 217, 244, 0.8);

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Libre Franklin', sans-serif;
$font-tertiary: 'Red Hat Mono', monospace;
$font-quaternary: 'Roboto Slab', serif;

/* Navbar */

.place-content-center {
    display: grid;
    place-content: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    .logo {
        width: 16vw;
        height: auto;
        margin-left: 1vw;
        overflow: hidden;
        min-width: 135px;
    
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.navbar-container {
    margin-top: 2vw;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    
    .nav-link {
        font-weight: bold;
        font-size: max(1vw, 8px);
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-primary;
        color: $prim-white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        margin: 0.1vw 0.1vw 0.1vw 0.1vw;
        opacity: 0.75;
        width: 8vw;
        max-width: 120px;
        min-width: 60px;
        text-align: center;
    }

    .nav-link:hover {
        opacity: 1;
        transition: 300ms;
    }

    .nav-link::before {
        transition: 300ms;
        // 0.3vw
        height: 0.3vw;
        min-height: 1.5px;
        content: "";
        position: absolute;
        background-color: $prim-white;
    }

    .nav-link-ltr::before {
        width: 8vw;
        min-width: 40px;
        bottom: 0.1vw;
        opacity: 0;
    }

    .nav-link-ltr:hover::before {
        bottom: 0.4vw;
        opacity: 1;
    }
}

.socials {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .social-icon {
        transition: 600ms;
        font-weight: bold;
        font-size: max(2vw, 14px);
        color: $prim-white;
        margin: 0.2vw 0.2vw 0.2vw 0.2vw;
        padding: 0.1vw 0.1vw 0.1vw 1.2vw;
        opacity: 0.60;
    }

    .social-icon:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}

/* Banner */

.main {
    font-family: $font-primary;
    background-color: black;

    .head-banner {

        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100vh;
        background: url(../Assets/Content/banner.png) center center/cover no-repeat;
        background-attachment: fixed;
        color: white;

        .banner-content {

            margin: auto;

            .banner-title {

                font-family: $font-secondary;
                font-weight: bolder;
                text-align: center;
                // 5.5
                font-size: max(5.5vw, 30px);
                letter-spacing: 0.1vw;
                margin-top: -4rem;
            }

            .banner-subtitle {

                font-family: $font-tertiary;
                font-size: max(1.5vw, 9px);
                margin-top: -3vw;
                margin-bottom: 5vw;
                color: hsl(0, 0%, 95%);
                font-weight: bolder;
            }
        }
    }
}
