/* Variables */
$prim-black: rgba(0,0,0,1);
$prim-white: rgba(255,255,255,1);
$prim-grey: rgba(74,74,74,1);

$font-primary: 'Roboto', sans-serif;

/* Responsiveness */ 

/* Navbar */

.logo {
    width: 5rem;
    height: 5rem;
    margin-left: 10rem;
}

.navbar-container {
    margin-top: 2rem;
    /*position: absolute;*/
    background-color: aqua;
}

.navbar {    
    .nav-link {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-primary;
        color: rgba(255,255,255,1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 3px 3px 3px 3px;
        opacity: 0.60;
        width: 6rem;
        text-align: center;
    }

    .nav-link:hover {
        opacity: 1;
        transition: 300ms;
    }

    .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: $prim-black;
    }

    .nav-link-ltr::before {
        width: 5rem;
        bottom: 5px;
        opacity: 0;
    }

    .nav-link-ltr:hover::before {
        bottom: 10px;
        opacity: 1;
    }
}

.socials {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .social-icon {
        transition: 600ms;
        font-weight: bold;
        font-size: 30px;
        color: $prim-black;
        margin: 4px 4px 4px 4px;
        padding: 1px 1px 1px 1px;
        opacity: 0.60;
    }

    .social-icon:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}

/* Banner */

.main {
    font-family: $font-primary;

    .head-banner {

        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100vh;
        background: url(../Assets/Content/banner.jpg) center center/cover no-repeat;
        background-attachment: fixed;
        color: white;

        .banner-content {

            margin: auto;

            .banner-title {

                font-family: $font-primary;
                font-weight: bolder;
                text-align: center;
                font-size: 100px;
                letter-spacing: 4px;
                margin-top: -4rem;
            }

            .banner-subtitle {

                font-family: $font-primary;
                font-size: 1.7rem;
                margin-top: -3rem;
                margin-left: 8px;
                margin-bottom: 50px;
                color: hsl(0, 0%, 95%);
            }
        }
    }
}